<h1>Message form</h1>
<form method="POST" action="/new">
    <label for="nameInput">Enter your name: </label>
    <input name="nameInput" id="nameInput" type="text">
    <label for="messageInput">Enter your message here: </label>
    <input name="messageInput" id="messageInput" type="textarea" rows="4" cols="50">
    <button type="submit">Submit</button>
</form>