<h1>Message form</h1>
<form method="POST" action="/new">
    <label for="name-input">Enter your name: </label>
    <input name="name-input" id="name-input" type="text">
    <label for="message-input">Enter your message here: </label>
    <input name="message-input" id="message-input" type="textarea" rows="4" cols="50">
    <button type="submit">Submit</button>
</form>